.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page-header {
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #ec2F4B, #009FFF);
  padding: 4rem 1rem;
}

.page-content {
  text-align: center;
  padding: 4rem 1rem;
  flex: 1;

  .btn {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.08);
    border-color: rgba(0, 0, 0, 0.2);
  }

  .btn:hover {
    color: #009FFF;
    background-color: rgba(0, 0, 0, 0.08);
    border-color: #009FFF;
  }
}

.btn {
  padding: 0.6rem 1.2rem;
  font-size: 0.9rem;
  min-width: 90px;
  display: inline-block;
  margin: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.5s, background-color 0.5s, border-color 0.5s;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgba(255, 255, 255, 0.99);
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.8);
}

.page-footer {
  color: black;
  padding-bottom: 1rem;

  a {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.1rem;

    .foot-link {
      font-weight: 500;
      color: #009FFF;
      transition: color 0.5s;
    }
  }

  a:hover {
    color: rgba(0, 0, 0, 0.8);

    .foot-link {
      color: #ec2F4B;
    }
  }
}
